body {
    background-color: pink;
}
#myTextbox {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 24px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}
#btn1, #btn2 {
    position: absolute;
    top: 55%;
    width: 100px;
    height: 50px;
    background-color: dodgerblue;
    padding: 10px;
    transition: .5s;
    border-radius: 25px;
    border: none;
    color: white;
    font-size: 18px;
}
#btn1 {
    left: 42%;
}
#btn1:active {
    background-color: darkblue;
    transform: scale(0.95);
}
#btn2 {
    left: 52%;
}
.heart {
    position: fixed;
    bottom: 0;
    width: 70px;
    height: 70px;
    fill: rgba(255, 0, 0, 0.5);
    z-index: -1;
    animation: float 30s ease-in-out forwards;
}

@keyframes float {
    0% {
        transform: translateY(100%);
    }
    100% {
        bottom: 250vh;
    }
}