body {
    background-color: pink;
}
#myTextbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 24px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}
#btn1, #btn2 {
    position: absolute;
    top: 60%;
    width: 70px;
    height: 30px;
    background-color: dodgerblue;
    padding: 10px;
    transition: .5s;
}
#btn1 {
    left: 40%;
}
#btn2 {
    left: 60%;
}